@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}

h1 {
    margin: 24px 0 20px 0; 
    text-align: center;
    font-size: 2.4rem;
}

p {
    font-size: 1.2rem;
}

a {
    // text-decoration: none;
    font-size: 1.2rem;
    
}

a:hover {
    cursor: pointer;
}

body {
    position: relative;
    div {
        display: inline-block;
        vertical-align: top;
    }
}
    


#sidebar {
    width: 20%;
    position: fixed;
    background-color: #d1d5db;
    height: 615px;
    border-right: 2px solid #4b5563;
    padding-top: 28px;
}
    #sidebar a {
        display: block;
        margin-bottom: 10px;
        margin-left: 50px;
    }


#main {
    width: 79.5%;
    position: absolute;
    right: 0;

    .contents{
        width: 80%;
        margin-left: 80px; 
        padding: 24px 16px;
        border-bottom: 2px solid #1e293b;
        position: relative;

        * {
            vertical-align: middle;
        }
        .btn{
            display: inline-block;
            background-color: #cbd5e1;
            width: 15%;
            padding: 8px 5px;
            border-radius: 3px;
            text-decoration: none;
            border-bottom: 2px solid #1f2937;
            border-right: 1px solid #1f2937;
            color: #1e293b;
            font-weight:600; 
            vertical-align: top;
            text-align: center;
            margin-right: 15px;
        };
        div{
            text-align: left;
            display: inline-block;
            width: 70%;
            a {
                font-size: 1.6rem;
                font-weight: 600;
                text-decoration: none;
            }
            p, input, img {
                margin-top: 8px;
            }
            input {
                width: 100%;
                padding: 4px 0 4px 6px;
            }
            .bg-primary {
                background-color: #2563eb;
                padding: 8px 0 8px 12px;
                color: #e0f2fe;
                border-radius: 3px;
                margin-top: 8px;
            }
            #hide-sample {
                font-weight: 600;
            }
            #toggle-sample {
                display: block;
                width: 150px;
                height: 150px;
                border-radius: 3px;
                border: 2px solid #64748b;
            }
            .sample {
                font-weight: 600;
                // color: #065f46;
                color: #db2777;
            }
        };
    }
}
    
    
