@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}

h1 {
    margin: 24px 0 20px 0; 
    text-align: center;
}

p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

ul li {
    list-style: none;
}


body {
    position: relative;
}
    body div {
        display: inline-block;
        vertical-align: top;
    }


#sidebar {
    width: 20%;
    position: fixed;
    background-color: #d1d5db;
    height: 615px;
    border-right: 2px solid #4b5563;
}
    #sidebar ul {
        width: 80%;
        position: absolute;
        right: 0;
        margin-top: 24px;
    }
        #sidebar ul li {
            margin-bottom: 8px;
        }


#main {
    width: 79.5%;
    position: absolute;
    right: 0;
}
    #main .main-content{
        width: 80%;
        margin-left: 80px; 
        /* text-align: center; */
        /* margin: 0 auto; */
        padding: 24px 16px;
        border-bottom: 2px solid #1e293b;
        position: relative;
    }
        #main .main-content * {
            vertical-align: middle;
        }
        #main .main-content .btn{
            background-color: #cbd5e1;
            padding: 10px 8px;
            border-radius: 3px;
            border-bottom: 2px solid #1f2937;
            border-right: 1px solid #1f2937;
            color: #1e293b;
            font-weight:600; 
        };

        
        #main .main-content .documentation{
            background-color: aqua;
            text-align: center;
            display: inline-block;
            width: 50%
        };


#main .main-content .documentation #show-sample {
    font-weight: 600;
    background-color: #fff;
}